.foods {
  padding: 1.25rem 0 3.75rem 1.25rem;
  & > img {
    margin-left: auto;
    display: block;
  }
  & h2 {
    color: $font-medium;
    margin-bottom: 1.5rem;
  }
  & h3 {
    margin-bottom: 2.375rem;
  }
  &__article {
    display: flex;
    margin-bottom: 1rem;
    padding-right: 1.25rem;
    & img {
      width: 120px;
      height: 120px;
      margin-right: 1.875rem;
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & h4 {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.72px;
        color: #222222;
        display: block;
        margin-bottom: 0.75rem;
      }
      & p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #222222;
      }
    }
  }
  &__icons {
    padding-right: 1.25rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 3.75rem;
  }
}
