.goals {
  background-color: $bg-dark;
  padding: 3rem 5.125rem;
  &__container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 3.75rem;
    & img {
      margin-bottom: 1rem;
    }
    & .goals__text {
      color: $light;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 136.4%;
      text-align: center;
    }
    & .goals__subtitle {
      font-size: 1rem;
      line-height: 0;
    }
    & p {
      font-family: "Roboto";
      font-size: 1rem;
      color: #999999;
    }
  }
}
