.swiper {
  width: 375px;
  height: 244px;
  &-slide {
    & img {
      width: 375px;
      height: 244px;
    }
  }
  &-button-next {
    & img {
      padding-right: 15px;
    }
  }
  &-button-prev {
    & img {
      padding-left: 15px;
    }
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.slider-pagination {
  z-index: 3;
  border: 2px solid red;
}
#slider {
  width: 100%;
  height: 375px;
  & .swiper-slide {
    & img {
      width: 335px;
      height: 335px;
    }
  }
}
