$bg-dark: #222222;
$bg-light: #ffffff;
$bg-semi: #333333;
$bg-colored: #bead8e;
$light-grey: rgba(34, 34, 34, 0.04);
$font-semi: #777777;
$font-light: #ffffff;
$btn-secondary: #f8f8f8;
$btn-primary: #bead8e;
$btn-secondary-font: #111111;
