.home {
  background-color: $bg-semi;
  color: $font-light;
  padding: 4.68rem 0 4.68rem 1.25rem;
  & h2,
  h3 {
    margin-bottom: 2.5rem;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & button {
      width: 13.5625rem;
      height: 3.75rem;
    }
  }
}
