$bg-black: #222222;
$white: #ffffff;
$bg-grey: #333333;
$bg-primary: #bead8e;
$light-grey: rgba(34, 34, 34, 0.04);
$font-light: #777777;
$btn-secondary: #f8f8f8;
$btn-primary: #bead8e;
$btn-secondary-font: #111111;
